:root {
    --clr-primary: rgb(255, 255, 255);
    --clr-light: rgb(158, 157, 157);
    --clr-dark: rgb(0, 0, 0);
    --clr-warning: rgb(255, 0, 0);
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    display: grid;
    grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  }

  .title {
    grid-area: header;
    text-align: center;
    font-size: calc(3vw + 2rem);
    font-weight: 900;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin: -0.3em 0 0.5em;
  }